<!doctype html>
<html ng-app="chitChat">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Chitchat</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
        <link rel="stylesheet" href="/dist/css/style.min.css">
    </head>
    <body>
        <div ng-controller="mainCtrl"></div>
        <div ui-view></div>        
    </body>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    
    <script type="text/javascript" src="/dist/scripts/appName.min.js">
    </script>
    
</html>